body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
}

h1 {
    color: white;
    font-size: 72px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    position: relative;
    text-align: left;
   
    max-width: 100%;
}
img {
    max-width: 100%;
}
.navbar-header{
    padding-left:initial;
}

h2 {
    
    font-size: 45px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    position: relative;
    text-align: left;
    color: rgb(68, 13, 172);
    max-width: 100%;

}
.icon-bar{
    background: darkorange;
}
p1{
    padding-left: 30px;
    font-size: 23px;
    position: -webkit-sticky;
    text-align: left;
    color: white;
    max-width: 100%;
}
.about{
    margin: 2cm;
}
h3 {
    padding-left: 2cm;
    font-size: 35px;
    position: relative;
    text-align: left;
    color: rgb(54, 153, 8);
    max-width: 100%;
}

p {
    color: black;
}

/* Navbar */
.navigationBar{
    position: initial;
    
}
/*ul {
    list-style-type: none;
    z-index: 99;
    margin: 0;
    padding: 0;
    
    overflow: hidden;
    background-color: rgb(0,0,0);
    opacity: 0.8;
    position: -webkit-sticky;
    display: -ms-inline-flexbox;


    top: 0;
    width: 100%;
    max-width: 100%;


}*/
/*ul1 {
    list-style-type: none;
    z-index: 99;
    margin: 0;
    padding: 5px;
    padding-left: 30%;
    overflow: hidden;
    background-color: rgb(0,0,0);
    opacity: 0.8;
    position: fixed;
    display: -webkit-inline-flex;


    top: 0;
    width: 100%;
    max-width: 100%;


}*/
/*li {
    float: left;
    
}

/*li a {
    font-size: 12px;
    display: block;
    color:yellow;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    display: block;
    width: 100%;
    max-width: 100%;

}*/
*/
li a:hover:not(.active) {
    background-color:yellow;
    color: black;
}


.active {
    position: relative;
    background-color:yellow;
    color: black;
}
/* Navbar */

/* Main content */
#slideShow {
    width: 100%;
    margin: 2%;
    padding: 3%;
    max-width: 100%;
    padding-top: 40px;
}
.LOGO{
    height: 83px;
    padding: 3px 10px;
    padding-left: initial;
}
.icon-bar{
    background-color: white;
}
.ilbirsLogo {
    font-size: 72px;
    padding-top: 100px;
  
    font-family: 'Neucha', cursive;
    position: TOP;
    text-align: center;
    
}

.iLogo{
    font-size: 81px;
    padding-top: 50px;

    position: TOP;
    text-align: center;
}
.container {
    max-width: 100%;
    margin: 2%;
    padding: 3%;
    max-height: 100%;
    /* height: 800px; */
    position: relative;
    text-align: center; 
    color: rgb(41, 97, 201);

}
.down {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.center {
    position: absolute;
    top: 40%;
    left:50%;
    transform: translate(-50%, -50%);
}
.button {
    position: relative;
    background-color:yellow;
    border-color: rgb(172, 98, 2);
    border-radius: 25px;    
    font-size: 28px;
    color: black;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    
}

.button:after {
    content: "";
    background: yellowgreen;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.bottom {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.left{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}
.rightImage{
    position: relative;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
}
.leftImage{
    position: relative;
    top: 50%;
    left: -30%;
    transform: translate(-50%, -50%);
}

.right{
    position: absolute;
    top: 50%;
    left: 70%;
    padding-right: 20px;
    transform: translate(-50%, -50%);
}

#white{
    background-color: #F9FAFC;

}

.contacts {
    max-width: 100%;
    height: auto;
    height: 500px;
    position: relative;
    margin: 50px;
    padding: 50px;
    border-top: 1px solid rgb(255, 230, 5);
    border-top-width: thin;
    
}

#up {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 99;
    font-size:40px;
    border: none;
    outline: none;
    background-color: rgb(255, 230, 5);
    color: black;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
  }
  
#up:hover {
    background-color: #555;
}

.contactsP {
    margin: 20px;
    padding: 20px;
    font-size: 35px;
    font-family: 'Neucha', cursive;
    position: relative;
    text-align: center;
    color: rgb(255, 230, 5);
}
/* Main content */

/* jquery slide up */
.flip, .panel {

    padding: 5px;
    color: black;
    text-align: center;
    font-size: 22px;
    background-color:  rgb(255, 230, 5);
    border: solid 1px black;
    
    
}

.panel {
    padding: 20px;
    display: none;
    
}

.displayInline {
    color: black;
    display: block;
    max-width: 100%;
}

.displayBlock{
    
    padding: 25px;
    display: inline-block;
    max-width: 100%;
    width: 48%;

}

.block {
    
    width: 100%;
}
/* Jquery slideUp */

@media only screen and (max-width: 1000px){
    .displayBlock {
        margin: 1%;
        width: 100%;
    }
    .flip, .panel {
        width: 90%;
    }

@media screen and (max-width: 971px){
    .xanLogo{
        font-size: 32px;
        padding-top: 200px;
    }
    li{
        float: none;
    }
    ul{
        padding-left: 0%;
    }
    .navigationBar{
        padding-top: 200px;
    }

}



logo {
    margin: auto;
    width: 50%;
    }
}
